<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="GiftOfTheGivers-local" value="local-packages" />
    <add key="GiftOfTheGivers" value="https://pkgs.dev.azure.com/ST10441421/08e2649d-f041-4e59-b6b0-cd21023ec3c0/_packaging/GiftOfTheGivers/nuget/v3/index.json" />
  </packageSources>
</configuration>
